<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="Server" value="xE3TfC7PQ4+c/KMib3Dy/xcM7KmIqBBKZBBgNXPUzZoQNGq+y6wsl1mdiWxvU9pvRlNaWCbPOhJeZYf/AWO/IQ==" />
		<add key="Database" value="GJ32DvsIUV8nar/6lrMCCA==" />
		<add key="User" value="UtO5gzdXbUOhEB6yUfPlxw==" />
		<add key="Password" value="8dQPDrghuC8VdguE4nmHxIdMmCMPD7g7RYdkptWO0ws=" />
		<add key="Port" value="zI5a+VrNOkGgfk2T95QOqg==" />
		<add key="DinamikPort" value="Mb2yvH1Az6a08CPMBUxjag==" />
		
	</appSettings>	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>